/*
  Functions
*/
.pagination, .pagination-centered, .row, .header .inner, .sm, .main-nav ul {
  *zoom: 1; }
  .pagination:before, .pagination-centered:before, .row:before, .header .inner:before, .sm:before, .main-nav ul:before, .pagination:after, .pagination-centered:after, .row:after, .header .inner:after, .sm:after, .main-nav ul:after {
    display: table;
    content: ""; }
  .pagination:after, .pagination-centered:after, .row:after, .header .inner:after, .sm:after, .main-nav ul:after {
    clear: both; }

/*
	Grid
*/
/*
	Typography
*/
/*
	User Interface Elements
*/
.alert-box, .alert-box.error, .alert-box.success, .alert-box.notice {
  position: relative;
  padding: 0.875em 1.3125em;
  margin-bottom: 0.875em;
  cursor: pointer;
  background-color: #FFCD14;
  border-color: #e5b400;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  color: #4c3d06; }
  .alert-box a, .alert-box.error a, .alert-box.success a, .alert-box.notice a {
    text-decoration: underline; }
  .alert-box a:hover,
  .alert-box a:active,
  .alert-box a:focus {
    text-decoration: none; }
  .alert-box a.close {
    position: absolute;
    top: 0.75em;
    right: 0.75em;
    display: block;
    line-height: 1;
    text-decoration: none; }
  .alert-box p, .alert-box.error p, .alert-box.success p, .alert-box.notice p {
    font-size: 1em;
    line-height: 1.75;
    padding-top: 0.4375em;
    padding-bottom: 0.4375em; }

/*
	Pagination mixin
*/
.pagination, .pagination-centered {
  width: 100%;
  overflow: hidden; }
  .pagination ul, .pagination-centered ul {
    margin: 1.5em 0; }
    .pagination ul li, .pagination-centered ul li, .pagination ul a, .pagination-centered ul a {
      display: block;
      float: left;
      zoom: 1; }
  .pagination a, .pagination-centered a,
  .pagination span,
  .pagination-centered span {
    display: block;
    float: left; }

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section, main {
  display: block; }

.row {
  margin: 0 auto;
  max-width: 60em; }
  .row .row {
    padding: 0; }

.row .row {
  padding: 0; }
  @media (min-width: 30em) {
    .row .row {
      margin-left: -10px;
      margin-right: -10px; } }

@media (min-width: 30em) {
  .last-col {
    float: right; } }

.grid-1 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-1 {
    width: 8.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-1 {
    width: 8.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-1 {
    width: 8.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-1 {
    left: 8.3333333333%; }

  .pull-left-1 {
    left: -8.3333333333%; } }
@media (min-width: 60em) {
  .bp4-grid-1 {
    width: 8.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-1 {
    width: 8.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-2 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-2 {
    width: 16.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-2 {
    width: 16.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-2 {
    width: 16.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-2 {
    left: 16.6666666667%; }

  .pull-left-2 {
    left: -16.6666666667%; } }
@media (min-width: 60em) {
  .bp4-grid-2 {
    width: 16.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-2 {
    width: 16.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-3 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-3 {
    width: 25%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-3 {
    width: 25%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-3 {
    width: 25%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-3 {
    left: 25%; }

  .pull-left-3 {
    left: -25%; } }
@media (min-width: 60em) {
  .bp4-grid-3 {
    width: 25%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-3 {
    width: 25%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-4 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-4 {
    width: 33.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-4 {
    width: 33.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-4 {
    width: 33.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-4 {
    left: 33.3333333333%; }

  .pull-left-4 {
    left: -33.3333333333%; } }
@media (min-width: 60em) {
  .bp4-grid-4 {
    width: 33.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-4 {
    width: 33.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-5 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-5 {
    width: 41.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-5 {
    width: 41.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-5 {
    width: 41.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-5 {
    left: 41.6666666667%; }

  .pull-left-5 {
    left: -41.6666666667%; } }
@media (min-width: 60em) {
  .bp4-grid-5 {
    width: 41.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-5 {
    width: 41.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-6 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-6 {
    width: 50%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-6 {
    width: 50%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-6 {
    width: 50%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-6 {
    left: 50%; }

  .pull-left-6 {
    left: -50%; } }
@media (min-width: 60em) {
  .bp4-grid-6 {
    width: 50%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-6 {
    width: 50%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-7 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-7 {
    width: 58.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-7 {
    width: 58.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-7 {
    width: 58.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-7 {
    left: 58.3333333333%; }

  .pull-left-7 {
    left: -58.3333333333%; } }
@media (min-width: 60em) {
  .bp4-grid-7 {
    width: 58.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-7 {
    width: 58.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-8 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-8 {
    width: 66.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-8 {
    width: 66.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-8 {
    width: 66.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-8 {
    left: 66.6666666667%; }

  .pull-left-8 {
    left: -66.6666666667%; } }
@media (min-width: 60em) {
  .bp4-grid-8 {
    width: 66.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-8 {
    width: 66.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-9 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-9 {
    width: 75%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-9 {
    width: 75%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-9 {
    width: 75%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-9 {
    left: 75%; }

  .pull-left-9 {
    left: -75%; } }
@media (min-width: 60em) {
  .bp4-grid-9 {
    width: 75%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-9 {
    width: 75%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-10 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-10 {
    width: 83.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-10 {
    width: 83.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-10 {
    width: 83.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-10 {
    left: 83.3333333333%; }

  .pull-left-10 {
    left: -83.3333333333%; } }
@media (min-width: 60em) {
  .bp4-grid-10 {
    width: 83.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-10 {
    width: 83.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-11 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-11 {
    width: 91.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-11 {
    width: 91.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-11 {
    width: 91.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-11 {
    left: 91.6666666667%; }

  .pull-left-11 {
    left: -91.6666666667%; } }
@media (min-width: 60em) {
  .bp4-grid-11 {
    width: 91.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-11 {
    width: 91.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-12 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-12 {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-12 {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-12 {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-12 {
    left: 100%; }

  .pull-left-12 {
    left: -100%; } }
@media (min-width: 60em) {
  .bp4-grid-12 {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-12 {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.error-area {
  color: #d00c00; }
  .error-area input[type="input"],
  .error-area input[type="text"],
  .error-area input[type="email"],
  .error-area input[type="password"],
  .error-area input[type="search"],
  .error-area input[type="tel"],
  .error-area input[type="url"],
  .error-area input[type="number"],
  .error-area input[type="date"],
  .error-area input[type="month"],
  .error-area input[type="week"],
  .error-area input[type="time"],
  .error-area input[type="datetime"],
  .error-area input[type="datetime-local"],
  .error-area input[name="field_country_code"],
  .error-area input[name="field_city_code"],
  .error-area input[name="field_phone_int"],
  .error-area select[multiple],
  .error-area textarea {
    border-color: #d00c00; }
    .error-area input[type="input"]:focus,
    .error-area input[type="text"]:focus,
    .error-area input[type="email"]:focus,
    .error-area input[type="password"]:focus,
    .error-area input[type="search"]:focus,
    .error-area input[type="tel"]:focus,
    .error-area input[type="url"]:focus,
    .error-area input[type="number"]:focus,
    .error-area input[type="date"]:focus,
    .error-area input[type="month"]:focus,
    .error-area input[type="week"]:focus,
    .error-area input[type="time"]:focus,
    .error-area input[type="datetime"]:focus,
    .error-area input[type="datetime-local"]:focus,
    .error-area input[name="field_country_code"]:focus,
    .error-area input[name="field_city_code"]:focus,
    .error-area input[name="field_phone_int"]:focus,
    .error-area select[multiple]:focus,
    .error-area textarea:focus {
      border-color: #d00c00; }

.error-help {
  display: block; }

.alert-box strong {
  color: #4c3d06; }
.alert-box a {
  color: #4c3d06; }

.alert-box.error {
  background-color: #d00c00;
  border-color: #a20900;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  color: #fcf2f2; }
  .alert-box.error strong {
    color: #fcf2f2; }
  .alert-box.error a {
    color: #fcf2f2; }

.alert-box.success {
  background-color: #72aa2e;
  border-color: #5a8624;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  color: #22330d; }
  .alert-box.success strong {
    color: #22330d; }
  .alert-box.success a {
    color: #22330d; }

.alert-box.notice {
  background-color: #ffe38a;
  border-color: #ffd85c;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  color: #4c4429; }
  .alert-box.notice strong {
    color: #4c4429; }
  .alert-box.notice a {
    color: #4c4429; }

.pagination a,
.pagination span {
  padding: 0 10px;
  border: 1px solid #FFCD14;
  margin-left: -1px; }
.pagination span {
  color: #f8f8f8; }

.pagination-centered a,
.pagination-centered span {
  padding: 0 10px;
  border: 1px solid #FFCD14;
  margin-left: -1px; }
.pagination-centered span {
  color: #f8f8f8; }
.pagination-centered .inner {
  float: left;
  position: relative;
  left: 50%; }
.pagination-centered ul {
  overflow: hidden;
  position: relative;
  left: -50%; }

.media-embed {
  width: 100%;
  height: 0;
  padding-bottom: 62.5%;
  position: relative;
  overflow: hidden;
  margin-bottom: 2.25em; }
  .media-embed iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background-color: #376EB6;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: 400 100%/1.5 "proxima-nova", arial, sans-serif; }
  @media (min-width: 71.25em) {
    html {
      font-size: 112.5%; } }

body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  color: #3A3931; }

::-moz-selection {
  background-color: #376EB6;
  color: #deded8;
  text-shadow: none; }

::selection {
  background-color: #376EB6;
  color: #deded8;
  text-shadow: none; }

hr {
  border: 1px solid #d3d2ca;
  border-width: 1px 0 0;
  clear: both;
  margin: 0 0 1.5em; }

img {
  vertical-align: top;
  border: 0; }

.clear {
  clear: both; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "proxima-nova", arial, sans-serif;
  font-weight: 700;
  text-rendering: optimizelegibility; }

h1 {
  font-size: 2.827145944em;
  line-height: 1.2379976377;
  padding-top: 0.4642491141em;
  padding-bottom: 0.4642491141em; }

h2 {
  font-size: 1.999396em;
  line-height: 1.3128964947;
  padding-top: 0.6564482474em;
  padding-bottom: 0.6564482474em; }

h3 {
  font-size: 1.414em;
  line-height: 1.547029703;
  padding-top: 0.9282178218em;
  padding-bottom: 0.3094059406em; }

h4,
h5,
h6 {
  font-weight: 700;
  font-size: 1em;
  line-height: 1.75;
  padding-top: 1.3125em;
  padding-bottom: 0.4375em; }

p,
ol,
ul,
dl,
table,
address,
pre {
  font-size: 1em;
  line-height: 1.75;
  padding-top: 0.4375em;
  padding-bottom: 0.875em; }

ul,
ol {
  padding-left: 1em; }

table {
  text-align: left;
  width: 100%;
  font-family: "proxima-nova", arial, sans-serif;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 0.875em;
  line-height: 1.7142857143em;
  margin-bottom: 3.4285714286em; }

caption {
  font-family: "proxima-nova", arial, sans-serif;
  text-align: left;
  border-bottom: 1px solid #bbbaaf;
  font-weight: 700;
  text-align: center;
  padding-bottom: 0.75em;
  margin-bottom: 0.75em; }

td,
th {
  padding: .25em 1em .25em 0;
  border-bottom: 1px solid #ffd847; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #FFCD14;
  transition: color .22s ease-in-out; }
  a:visited {
    color: #fac400; }
  a:hover {
    text-decoration: underline;
    color: #e0b000; }
  a:focus {
    outline: thin dotted;
    color: #e0b000; }
  a:hover, a:active {
    outline: 0; }

form {
  padding: 0 0 0.875em; }

legend,
label {
  font-weight: 600;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.75;
  padding-top: 1.3125em;
  padding-bottom: 0.4375em; }

input[type="input"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[name="field_country_code"],
input[name="field_city_code"],
input[name="field_phone_int"],
select[multiple],
textarea {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background-color: #f8f8f8;
  border-radius: 5px;
  border: 0;
  color: #8d8a77;
  font-family: "proxima-nova", arial, sans-serif;
  margin: 0;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0.15625em;
  padding-right: 0.15625em;
  font-size: 1em;
  line-height: 1.3125;
  padding-top: 0.4375em;
  padding-bottom: 0.4375em;
  height: 2.1875em; }
  input[type="input"]:focus,
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="number"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[name="field_country_code"]:focus,
  input[name="field_city_code"]:focus,
  input[name="field_phone_int"]:focus,
  select[multiple]:focus,
  textarea:focus {
    color: #3A3931;
    outline-color: #FFCD14; }
  @media (min-width: 42.5em) {
    input[type="input"],
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="url"],
    input[type="number"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[name="field_country_code"],
    input[name="field_city_code"],
    input[name="field_phone_int"],
    select[multiple],
    textarea {
      padding-left: 0.15625em;
      padding-right: 0.15625em;
      font-size: 1em;
      line-height: 1.3125;
      padding-top: 0.875em;
      padding-bottom: 0.875em;
      height: 3.0625em; } }
  @media (min-width: 71.25em) {
    input[type="input"],
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="url"],
    input[type="number"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[name="field_country_code"],
    input[name="field_city_code"],
    input[name="field_phone_int"],
    select[multiple],
    textarea {
      padding-left: 0.15625em;
      padding-right: 0.15625em;
      font-size: 1.414em;
      line-height: 1.2376237624;
      padding-top: 0.6188118812em;
      padding-bottom: 0.6188118812em;
      height: 2.4752475248em; } }

input[type="text"], input[type="email"] {
  height: 50px;
  padding-left: 10px;
  font-size: 1em !important; }

textarea {
  height: 150px;
  padding-left: 10px;
  font-size: 1em !important; }

::-webkit-input-placeholder {
  font-family: "ff-tisa-web-pro", serif;
  font-style: italic; }

::-moz-placeholder {
  font-family: "ff-tisa-web-pro", serif;
  font-style: italic; }

:-ms-input-placeholder {
  font-family: "ff-tisa-web-pro", serif;
  font-style: italic; }

input[type="submit"],
button {
  cursor: pointer;
  background-color: #FFCD14;
  color: #376EB6;
  border: none;
  float: right;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  margin-top: 20px;
  font-size: 1.1em;
  font-weight: 600;
  -webkit-appearance: none; }

/*-----------------------------------------------------------*\

		_debug.css is used from Inuit.css Framework
					Don't reinvent the wheel
			https://github.com/csswizardry/inuit.css

\*-----------------------------------------------------------*/
/* endif */
.row {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 60em) {
    .row {
      padding-left: 0px;
      padding-right: 0px; } }

.holder {
  padding-top: 0em;
  padding-bottom: 0em; }
  @media (min-width: 60em) {
    .holder {
      padding-top: 0em;
      padding-bottom: 0em; } }

@media (min-width: 42.5em) {
  .header-holder {
    padding-top: 0em; } }
.header-holder h1 {
  font-size: 1.6em;
  color: #f8f8f8;
  padding-top: 1.5em;
  padding-bottom: 0.6em;
  line-height: 1.5em; }
  @media (min-width: 42.5em) {
    .header-holder h1 {
      padding-top: 4.5em;
      padding-bottom: 0.75em;
      font-size: 2.5em; } }

.header {
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  position: relative; }
  @media (min-width: 42.5em) {
    .header {
      width: 100%;
      float: left;
      position: relative;
      padding-left: 10px;
      padding-right: 10px; } }

.header .inner {
  border-bottom: 1px solid #d3d2ca; }

@media (min-width: 42.5em) {
  .header-holder .inner {
    padding-top: 1.5em;
    padding-bottom: 1.5em; } }
@media (min-width: 60em) {
  .header-holder .inner {
    padding-top: 3em;
    padding-bottom: 1.5em; } }

.logo {
  margin-left: 20px;
  margin-right: 0px;
  width: 120px;
  height: 39px; }

.main-header-image {
  max-width: none;
  width: 100%;
  position: fixed;
  overflow: hidden;
  height: 600px;
  padding: 0;
  margin-top: -2em;
  z-index: -1; }
  .main-header-image p img {
    width: 280%;
    max-width: none;
    margin-left: -90%; }
  @media (min-width: 42.5em) {
    .main-header-image {
      margin-top: -3em; }
      .main-header-image p img {
        width: 200%;
        margin-left: -50%; } }
  @media (min-width: 60em) {
    .main-header-image {
      margin-top: -5em; }
      .main-header-image p img {
        width: 100%;
        margin-left: 0; } }

.image-overlay {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.01) 20%, black 130%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.01) 20%, black 130%);
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.01) 20%, black 130%);
  background: linear-gradient(rgba(0, 0, 0, 0.01) 20%, black 130%);
  background: -ms-gradient(rgba(0, 0, 0, 0.01) 20%, black 130%);
  opacity: 0.4;
  height: 600px;
  position: absolute;
  z-index: 9999;
  width: 100%;
  display: block; }

.header-row {
  top: 0; }

.header-left {
  float: left;
  position: absolute;
  opacity: 0.8;
  border-top: 4.4em solid #376EB6;
  border-right: 50px solid transparent;
  height: 0;
  width: 65%; }
  @media (min-width: 42.5em) {
    .header-left {
      width: 30%; } }

.header-right {
  position: absolute;
  right: 0;
  opacity: 0.8;
  border-bottom: 4.4em solid #FFCD14;
  border-left: 50px solid transparent;
  height: 0;
  width: 40%; }
  @media (min-width: 42.5em) {
    .header-right {
      width: 70%; } }

.main {
  border-top: 1px solid #376EB6;
  background-color: #f8f8f8; }

.main-holder {
  padding-top: 0em;
  padding-bottom: 4.5em; }

.doormat-holder {
  padding-bottom: 1.5em; }
  @media (min-width: 60em) {
    .doormat-holder {
      padding-bottom: 3em; } }

.doormat-col-4 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }
  @media (min-width: 60em) {
    .doormat-col-4 {
      width: 33.3333333333%;
      float: left;
      position: relative;
      padding-left: 10px;
      padding-right: 10px; } }

.footer-holder {
  background-color: #376EB6;
  color: #eaeae6;
  position: relative; }
  .footer-holder p {
    padding: 0; }

.footer {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 3em;
  padding-bottom: 2.25em; }

.pre-footer {
  background-color: #FFCD14; }
  .pre-footer h3 {
    color: #376EB6;
    font-size: 1.2em;
    font-weight: 600;
    font-family: "proxima-nova", arial, sans-serif;
    padding-top: 0.75em;
    padding-bottom: 0.75em; }

.contact-info {
  width: 100%; }
  @media (min-width: 42.5em) {
    .contact-info {
      width: 39%;
      float: left; } }
  .contact-info h5 {
    font-size: 1.4em;
    font-family: "proxima-nova", arial, sans-serif;
    padding-top: 0.9em;
    padding-bottom: 0.15em; }
  .contact-info a {
    font-size: 1.1em; }

.copyright {
  display: none; }
  @media (min-width: 42.5em) {
    .copyright {
      font-size: 0.9em;
      margin-top: 2em;
      display: block; } }

.contact-form {
  margin-top: 3em;
  width: 100%; }
  @media (min-width: 42.5em) {
    .contact-form {
      margin-top: 0em;
      width: 50%;
      float: right; } }

.sm {
  padding-left: 0px; }
  .sm li {
    list-style-type: none;
    width: 35px;
    height: 35px;
    float: left;
    margin-right: 20px; }

.contact-pointer {
  display: none; }
  @media (min-width: 42.5em) {
    .contact-pointer {
      display: block;
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 25px 20px 0 20px;
      border-color: #FFCD14 transparent transparent transparent;
      margin-left: 400px; } }
  @media (min-width: 60em) {
    .contact-pointer {
      margin-left: 535px; } }

#form2 {
  border-top: 1px solid #FFCD14;
  padding-top: 3em; }
  @media (min-width: 42.5em) {
    #form2 {
      padding-top: 0;
      border: 0; } }
  #form2 p {
    margin-bottom: 1em; }
    #form2 p label {
      padding-top: 0px; }

.success {
  font-size: 1.4em;
  font-family: "proxima-nova", arial, sans-serif; }

.success-img {
  width: 460px;
  height: 256px; }

.endline {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999; }

.back-to-top {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 1.5em;
  width: 200px; }
  .back-to-top a {
    background-color: #417ac6;
    border-radius: 5px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 20px;
    padding-right: 20px;
    color: #f8f8f8;
    width: 100%;
    display: block; }
  .back-to-top a:hover, .back-to-top a:active {
    background-color: #3b75c2;
    text-decoration: none; }

.intro-holder {
  padding-top: 3em; }
  @media (min-width: 42.5em) {
    .intro-holder {
      padding-top: 3em; } }

.intro {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }
  .intro h1 {
    font-weight: 300;
    font-size: 2.827145944em;
    line-height: 1.2379976377;
    padding-top: 0.1547497047em;
    padding-bottom: 0.1547497047em; }
  .intro p {
    color: #f8f8f8;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.3125;
    padding-top: 0.4375em;
    padding-bottom: 1.3125em; }

.main-col-6 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }
  @media (min-width: 60em) {
    .main-col-6 {
      width: 50%;
      float: left;
      position: relative;
      padding-left: 10px;
      padding-right: 10px; } }

.home-header {
  color: #f8f8f8; }

.home-button {
  border: 1px solid #f8f8f8;
  border-radius: 12px;
  width: 250px;
  padding-left: 1em; }
  .home-button p {
    font-size: 1.5em;
    color: #f8f8f8;
    padding-top: 0;
    padding-bottom: 0; }

.home-content {
  position: relative; }

.triangle-top {
  margin-top: -1.3em;
  margin-left: 0.2em;
  top: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 25px solid #f8f8f8; }

.quote-title {
  font-size: 2.5em;
  font-family: "proxima-nova", arial, sans-serif;
  font-weight: bold;
  color: #376EB6;
  line-height: 1.3em;
  margin-bottom: 0.3em; }
  @media (min-width: 42.5em) {
    .quote-title {
      font-size: 3.4em;
      margin-bottom: 0em; } }

.quote-p {
  font-size: 1.5em;
  margin-top: -2em;
  font-family: "ff-tisa-web-pro", serif;
  color: #787878;
  margin-bottom: 0.7em; }
  @media (min-width: 42.5em) {
    .quote-p {
      margin-top: -2.4em;
      font-size: 1.8em; } }

.home-images {
  width: 100%;
  overflow: hidden;
  height: 400px;
  position: relative; }
  @media (min-width: 400px) {
    .home-images {
      height: 600px; } }
  @media (min-width: 900px) {
    .home-images {
      height: 500px; } }
  @media (min-width: 1800px) {
    .home-images {
      height: 600px; } }
  @media (min-width: 2700px) {
    .home-images {
      height: 700px; } }
  .home-images .instagram {
    position: absolute; }
  .home-images .row {
    position: relative;
    display: block;
    z-index: 999999; }
  .home-images .image-overlay2 {
    background-color: #1f3f68;
    opacity: 0.3;
    height: 400px;
    position: absolute;
    z-index: 9999;
    width: 100%;
    display: block; }
    @media (min-width: 400px) {
      .home-images .image-overlay2 {
        height: 600px; } }
    @media (min-width: 900px) {
      .home-images .image-overlay2 {
        height: 500px; } }
    @media (min-width: 1800px) {
      .home-images .image-overlay2 {
        height: 600px; } }
    @media (min-width: 2700px) {
      .home-images .image-overlay2 {
        height: 700px; } }
  .home-images .volg-btn {
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    padding: 0.1em;
    border-radius: 5px;
    position: absolute;
    width: 90%;
    border: 3px solid #FFCD14;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    z-index: 999999;
    margin-top: 175px;
    background-color: transparent;
    background-color: rgba(58, 57, 49, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B33A3931,endColorstr=#B33A3931);
    zoom: 1; }
    @media (min-width: 30em) {
      .home-images .volg-btn {
        width: 400px; } }
    @media (min-width: 400px) {
      .home-images .volg-btn {
        margin-top: 275px; } }
    @media (min-width: 900px) {
      .home-images .volg-btn {
        margin-top: 225px; } }
    @media (min-width: 1800px) {
      .home-images .volg-btn {
        margin-top: 275px; } }
    @media (min-width: 2700px) {
      .home-images .volg-btn {
        margin-top: 325px; } }
    .home-images .volg-btn a, .home-images .volg-btn a:hover, .home-images .volg-btn a:active, .home-images .volg-btn a:visited {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none; }

.triangle-row {
  position: relative; }

.triangle-top2 {
  margin-right: 1.5em;
  position: absolute;
  margin-top: -25px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 25px solid #f8f8f8;
  right: 0;
  z-index: 9999999; }
  @media (min-width: 42.5em) {
    .triangle-top2 {
      margin-right: 0.5em; } }

.quote2-title {
  text-align: right;
  font-size: 2.5em;
  font-family: "proxima-nova", arial, sans-serif;
  font-weight: bold;
  line-height: 1.3em;
  margin-bottom: 0.3em;
  color: #376EB6; }
  @media (min-width: 42.5em) {
    .quote2-title {
      margin-bottom: 0em;
      font-size: 3.4em; } }

.quote2-p {
  text-align: right;
  margin-top: -2em;
  font-size: 1.5em;
  font-family: "ff-tisa-web-pro", serif;
  color: #787878;
  margin-bottom: 0.8em; }
  @media (min-width: 42.5em) {
    .quote2-p {
      margin-top: -2.4em;
      font-size: 1.8em; } }

.projects {
  padding-top: 0.75em;
  padding-bottom: 0.75em; }
  @media (min-width: 42.5em) {
    .projects {
      padding-top: 0.45em;
      padding-bottom: 4.5em; } }

@media (min-width: 42.5em) {
  .project-article:nth-child(even) {
    float: right !important; } }

.project-article:last-child {
  margin-bottom: 0; }

.project-article {
  margin-top: 1.5em;
  margin-bottom: 3em;
  clear: both;
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative; }
  @media (min-width: 42.5em) {
    .project-article {
      border: 2px solid #dfdfdf;
      float: left;
      width: 48%;
      clear: none;
      margin-top: 40px;
      margin-bottom: 0;
      height: 300px; } }
  .project-article img {
    min-width: 600px; }

.project-overlay {
  top: 0;
  position: absolute;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
  zoom: 1;
  width: 100%;
  height: 300px;
  padding-top: 3.15em;
  padding-bottom: 0em;
  text-align: center;
  color: #f8f8f8; }
  @media (min-width: 42.5em) {
    .project-overlay {
      background-color: transparent;
      background-color: rgba(0, 0, 0, 0.7);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000,endColorstr=#B3000000);
      zoom: 1;
      padding-top: 4.5em;
      padding-bottom: 0em; } }
  .project-overlay hr {
    margin-left: auto;
    margin-right: auto;
    width: 60%; }
  .project-overlay p {
    font-family: "ff-tisa-web-pro", serif;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: -0.7em;
    padding-top: 0em; }

.article {
  margin-top: 0em;
  margin-bottom: 3em; }
  .article p {
    width: 100%;
    float: left;
    font-size: 1.5em;
    line-height: 1.9em;
    font-family: "ff-tisa-web-pro", serif; }
    @media (min-width: 42.5em) {
      .article p {
        width: 73%;
        float: right; } }
    .article p img {
      width: 100%;
      max-width: none; }
      @media (min-width: 42.5em) {
        .article p img {
          width: 136.9%;
          margin-left: -36.9%; } }
  .article h2 {
    width: 100%;
    float: left;
    color: #376EB6;
    padding-top: 1.5em;
    padding-bottom: 0.45em; }
    @media (min-width: 42.5em) {
      .article h2 {
        width: 73%;
        float: right; } }
  .article h3 {
    color: #376EB6;
    width: 100%;
    float: left;
    padding-top: 1.5em;
    padding-bottom: 0.45em; }
    @media (min-width: 42.5em) {
      .article h3 {
        width: 73%;
        float: right; } }
  .article blockquote {
    display: none; }
    @media (min-width: 42.5em) {
      .article blockquote {
        display: block;
        margin-top: 3em;
        padding-left: 1em;
        font-size: 0.85em;
        width: 24%;
        float: left; }
        .article blockquote p {
          width: 100%;
          font-family: "proxima-nova", arial, sans-serif; }
          .article blockquote p a, .article blockquote p a:hover, .article blockquote p a:active, .article blockquote p a:visited {
            color: #376EB6; }
        .article blockquote img {
          margin: 0;
          padding: 0;
          width: 80%;
          max-width: none; } }

.main-content {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

.v-styleguide .section-title {
  color: #f8f8f8;
  font-weight: 700;
  border-bottom: 3px solid #f8f8f8;
  margin-bottom: 0.875em;
  font-size: 1.414em;
  line-height: 1.2376237624;
  padding-top: 0.3094059406em;
  padding-bottom: 0.3094059406em; }

.v-styleguide .scss {
  display: inline-block;
  color: #f8f8f8;
  background: #F0F0F0;
  border: 1px solid #4DA4DB;
  border-radius: 5px;
  padding: 3px; }

.example-form-grid label {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }
@media (min-width: 30em) {
  .example-form-grid label {
    width: 50%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }
  .example-form-grid .name {
    width: 50%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 5px; }
  .example-form-grid .email {
    width: 50%;
    float: left;
    position: relative;
    padding-left: 5px;
    padding-right: 10px; }
  .example-form-grid .street {
    width: 66.6666666667%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 5px; }
  .example-form-grid .city {
    width: 66.6666666667%;
    float: left;
    position: relative;
    padding-left: 5px;
    padding-right: 10px; }
  .example-form-grid .number {
    width: 33.3333333333%;
    float: left;
    position: relative;
    padding-left: 5px;
    padding-right: 10px; }
  .example-form-grid .zip-code {
    width: 33.3333333333%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 5px; }
  .example-form-grid .full-width {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }
  .example-form-grid .oneliner .postfix {
    width: 50%;
    float: left;
    position: relative;
    padding-left: 0px;
    padding-right: 10px; }
  .example-form-grid .oneliner .postfix button {
    border-radius: 0 5px 5px 0;
    border-left: 0; }
  .example-form-grid .oneliner .prefix {
    width: 50%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 0px; }
  .example-form-grid .oneliner .prefix input {
    border-radius: 5px 0 0 5px;
    border-right: 0; } }

.v-grid .row > div[class*="grid"] {
  background: #e0b000;
  margin-top: 0.75em;
  margin-bottom: 0.75em; }
  .v-grid .row > div[class*="grid"] .inner {
    background: #FFCD14;
    text-align: center;
    padding-top: 0.75em;
    padding-bottom: 0.75em; }

.v-grid .row .row > div[class*="grid"] {
  margin: 0; }

.main-nav {
  float: left;
  width: 100%;
  font-size: 1.2em;
  padding-top: -1em; }
  .main-nav ul {
    font-family: "proxima-nova", arial, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.5em; }
  .main-nav a {
    margin-left: 0.3em;
    color: #59584E;
    text-decoration: none;
    font-weight: 700; }
  .main-nav a:hover,
  .main-nav .selected a {
    color: #376eb6; }

.mobile-nav .main-nav {
  display: none; }

.main-nav,
.mobile-nav .main-nav {
  margin-top: 0.85em;
  width: 100%; }
  .main-nav ul,
  .mobile-nav .main-nav ul {
    padding-bottom: 0;
    margin-bottom: 0; }
  .main-nav li,
  .mobile-nav .main-nav li {
    background-color: transparent;
    background-color: rgba(248, 248, 248, 0.9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6F8F8F8,endColorstr=#E6F8F8F8);
    zoom: 1; }
  .main-nav a,
  .mobile-nav .main-nav a {
    display: block;
    width: 100%;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 10px;
    padding-right: 0px; }
  .main-nav .selected,
  .mobile-nav .main-nav .selected {
    background-color: transparent;
    background-color: rgba(255, 205, 20, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFCD14,endColorstr=#CCFFCD14);
    zoom: 1; }
    .main-nav .selected a,
    .mobile-nav .main-nav .selected a {
      color: #f8f8f8; }
  @media (min-width: 42.5em) {
    .main-nav,
    .mobile-nav .main-nav {
      display: block !important;
      margin-top: 0.4em;
      width: auto;
      float: right; }
      .main-nav ul,
      .mobile-nav .main-nav ul {
        font-size: 0.875em;
        line-height: 1.7142857143em;
        margin-bottom: 0em; }
        .main-nav ul li, .main-nav ul a,
        .mobile-nav .main-nav ul li,
        .mobile-nav .main-nav ul a {
          display: block;
          float: left;
          zoom: 1; }
      .main-nav li, .main-nav li.selected,
      .mobile-nav .main-nav li,
      .mobile-nav .main-nav li.selected {
        background-color: transparent;
        margin-left: 20px;
        margin-right: 0px; }
      .main-nav a:hover,
      .mobile-nav .main-nav a:hover {
        color: #716f60; } }

.main-nav-trigger {
  position: absolute;
  cursor: pointer;
  display: block;
  right: 0;
  width: 4em;
  height: 4em;
  z-index: 999;
  background: transparent url("../Img/icon-menu.png") 10% no-repeat;
  background-size: 2em; }
  .svg .main-nav-trigger {
    background: transparent url("../Img/icon-menu.svg") 10% no-repeat;
    background-size: 2em; }
  @media (min-width: 42.5em) {
    .main-nav-trigger {
      display: none; } }

.over-header {
  background-image: url("../Img/home_bg.jpg"); }

.overons-main {
  padding-top: 3em;
  padding-bottom: 3em; }
  .overons-main p {
    float: left;
    font-family: "ff-tisa-web-pro", serif;
    font-size: 1.3em; }
  .overons-main img {
    float: right;
    width: 30%; }
  .overons-main hr {
    margin-top: 3em; }

.content-left {
  margin-top: 1em; }
  .content-left p {
    font-size: 1.5em;
    line-height: 1.9em;
    font-family: "ff-tisa-web-pro", serif;
    clear: left;
    padding-bottom: 3em; }
    @media (min-width: 42.5em) {
      .content-left p {
        width: 70%;
        float: left; } }
  .content-left img {
    display: none; }
    @media (min-width: 42.5em) {
      .content-left img {
        display: block;
        width: 150px;
        height: 150px;
        margin-right: 5%;
        margin-top: 3em;
        float: right; } }
  .content-left h2 {
    color: #376EB6;
    clear: left;
    font-size: 2.5em;
    line-height: 1.7em; }
    @media (min-width: 42.5em) {
      .content-left h2 {
        font-size: 3.6em;
        line-height: 1.5em; } }
  .content-left h3 {
    color: #376EB6;
    clear: left; }
  .content-left hr:last-child {
    margin-bottom: 0;
    padding-bottom: 0; }

.content-right {
  background-color: #376EB6; }
  .content-right p {
    font-family: "proxima-nova", arial, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 2em;
    color: #f8f8f8; }

.content {
  background-color: #f8f8f8; }

.content2 {
  text-align: center;
  height: 200px;
  overflow: hidden;
  clear: both;
  position: relative; }
  .content2 img {
    width: 300%;
    max-width: none; }
    @media (min-width: 42.5em) {
      .content2 img {
        width: 150%; } }
    @media (min-width: 71.25em) {
      .content2 img {
        width: 100%; } }
  .content2 .overlay {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.01) 40%, black 130%);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.01) 40%, black 130%);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.01) 40%, black 130%);
    background: linear-gradient(rgba(0, 0, 0, 0.01) 40%, black 130%);
    background: -ms-gradient(rgba(0, 0, 0, 0.01) 40%, black 130%);
    position: absolute;
    width: 100%;
    height: 600px;
    top: 0; }
  .content2 .project-btn {
    font-size: 1.4em;
    font-weight: 600;
    padding: 0.1em;
    border-radius: 5px;
    position: absolute;
    width: 90%;
    border: 3px solid #FFCD14;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 75px;
    height: 50px;
    cursor: pointer; }
    @media (min-width: 42.5em) {
      .content2 .project-btn {
        width: 400px; } }
    .content2 .project-btn a, .content2 .project-btn a:hover, .content2 .project-btn a:active, .content2 .project-btn a:visited {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  @page {
    margin: 0.5cm; }
  h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid; }

  p {
    orphans: 3;
    widows: 3; }

  pre, blockquote {
    border: 1px solid #ccc;
    page-break-inside: avoid; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  img {
    max-width: 100% !important;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; } }
