// Navigation

.main-nav {
	float: left;
	width: 100%;

	ul {
		@extend %clearfix;
		font-family: $alpha-font-family;
		@include list-nav;
		@include text-dimensions($alpha-font-size,1,1);
	}


	a {
		color: $alpha-text-color;
		text-decoration: none;
		font-weight: $beta-font-weight;
	}

	.selected {
		// color: $alpha-ui-color;
		a {
			color: $alpha-ui-color;
		}

		
	}

	a:hover {
		color: lighten($alpha-text-color,20);
	}
}


.mobile-nav .main-nav {
	display: none;
}

.main-nav,
.mobile-nav .main-nav {
	font-size: 1.2em;
	// margin-top: 0.8em;

	ul {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	li {
		border-top: 1px solid $gamma-ui-color;
		//@include padding-tb(0.4,0.4);
	}

	a {
		display: block;
		width: 100%;
		@include padding-tb(0.6,0.6);
		@include px-padding-lr(2,0);
	}

	.selected {
		background-color: $alpha-ui-color;
		a {
		color: $beta-text-color;
		}

		
	}







	@include mq($bp3) {
		display: block !important;
		width: 100%;
		float: left;
		font-size: 1.15em;
		margin-top: 0;

		ul {
			width: 100%;
			float: left;
			@include horizontal-nav();
			@include text-dimensions(14,1,0);
		}

		li {
			border: 0;
			// @include px-margin-lr(1,0);
			//@include padding-tb(0.4, 0.4);
			margin-right: 2em;
		}

		

		.main-nav-extra {
			float: right;
			li {
				margin-right: 0em !important;
			}
		}


		

		a {
			@include px-padding-lr(0,0);
		}

		.selected {
			background: none;
			a {
			color: $alpha-ui-color;
			}
		}


	}

}






//
// sub navigation
//

.main-nav-sub {

	@include mq($bp3) {
		display: none;
	}

	ul {
		li {
			background-color: $beta-text-color;
			a {

			}
			a, a:hover, a:visited, a:active {
				@include padding-tb(0.3,0.3);
				color: $alpha-ui-color !important;
				@include px-padding-lr(3,0);
				font-size: 0.9em;
			}
		}

		li:last-child {
			a, a:hover, a:visited, a:active {
				@include padding-tb(0.3,0.3);
			}
		}

		.selected {
			background-color: $alpha-ui-color;
			a, a:hover, a:visited, a:active {
				color: $beta-text-color !important;
			}
		}

		
	}
}




.header-nav {
	@include padding-tb(0.5,0.5);

	@include mq($bp3) {
		@include padding-tb(0,0);
	}
}

.main-nav-trigger {
	cursor: pointer;
	color: $alpha-text-color;
	float: right;
	@include svg-bg("../img/icon-menu", ".png", 100%, no-repeat);
	font-size: 1.2em;
	font-weight: bold;
	@include px-margin-lr(0,2);
	@include px-padding-lr(0,4.5);
	@include margin-tb(0.4,0.4);

	@include mq($bp3) {
		display: none;
	}
}

.svg .trigger-active,
.trigger-active {
	//background-color: $alpha-link-color;
}










//
// language Navigation
//



.lan-nav {
	position: absolute;
	right: 0;
	margin-top: -0.5em;
	@include px-padding-lr(0,2);

	@include mq($bp3) {
		@include px-padding-lr(0,0);
		position: relative;
		margin-top: 0.11em;
	}

	ul {
		float: right;
		@include horizontal-nav();
		@include text-dimensions(14,1,0);
	}

	a {
		color: $beta-text-color;
		text-decoration: none;
		font-weight: $beta-font-weight;
		font-size: 0.8em;
		
		background-color: $alpha-ui-color;
		margin-left: 1em;
		@include padding-tb(0.04,0.04);
		padding-left: 0.35em;
		padding-right: 0.35em;
		border-radius: 3px;
		border: 1px solid $alpha-ui-color;

		@include mq($bp3) {
			margin-left: 0.9em;
		}
	}

	.selected a{
		color: $alpha-ui-color;
		background-color: $beta-text-color;
	}

}




