//
// Navigation
//

.main-nav {
	float: left;
	width: 100%;
	font-size: 1.2em;
	padding-top: -1em;

	ul {
		@extend %clearfix;
		font-family: $alpha-font-family;
		@include list-nav;
		@include text-dimensions($alpha-font-size,1,1);
	}

	a {
		margin-left: 0.3em;
		color: $epsilon-ui-color;
		text-decoration: none;
		font-weight: $beta-font-weight;
	}

	a:hover,
	.selected a {
		color: darken($alpha-ui-color,0);
	}
}

.mobile-nav .main-nav {
	display: none;
}

.main-nav,
.mobile-nav .main-nav {
	margin-top: 0.85em;
	width: 100%;

	ul {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	li {
		@include background-opacity($beta-text-color, 0.9);
		//border-top: 1px solid $gamma-ui-color;
		//@include padding-tb(0.4,0.4);
	}

	a {
		display: block;
		width: 100%;
		@include padding-tb(0.4,0.4);
		@include px-padding-lr(1,0);
	}

	.selected {
			@include background-opacity($gamma-ui-color, 0.8);
		a {
		color: $beta-text-color;
		}
	}




	@include mq($bp3) {
		display: block !important;
		margin-top: 0.4em;
		width: auto;
		float: right;

		ul {
			@include horizontal-nav();
			@include text-dimensions(14,1,0);
		}

		li, li.selected {
			background-color: transparent;
			@include px-margin-lr(2,0);
		}


		a:hover,
		{
			color: lighten($alpha-text-color,20);
		}
	}
}

.main-nav-trigger {
	position: absolute;
	cursor: pointer;
	display: block;
	right: 0;
	width: 4em;
	height: 4em;
	z-index: 999;
	@include svg-bg("../Img/icon-menu", ".png", transparent, 10%, no-repeat, 2em);


	@include mq($bp3) {
		display: none;
	}
}

.svg .trigger-active,
.trigger-active {
	//background-color: $alpha-link-color;
}
